# Server Configuration
PORT=3000

# Hydromancer API Configuration
HYDROMANCER_API_KEY=sk_nNhuLkdGdW5sxnYec33C2FBPzLjXBnEd

# Candle Configuration
CANDLE_INTERVAL=1h
CANDLE_DAYS=7

# Refresh Intervals (in minutes)
REFRESH_INTERVAL_MIN=5
SYMBOL_REFRESH_INTERVAL_MIN=60

